html, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, hgroup, menu, nav, section {
    display: block;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #ffffff;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #0645ad;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #000000;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

header {
  padding: 30px;
  text-align: left;
  font-size: 35px;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {

  padding: 10px;
  text-align: center;
}

p {
    margin-bottom: 25px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
    background-color: #FFFFFF;
    color: #000000;
    max-width: 1000px; /* Don't overwhelm large displays */
    margin: auto;
    padding: 0;
    display: block;
    float: none;
    vertical-align: middle;
}

h1 {
    display: block;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 18pt;
    color: #000000; /* Bluish, matches link color */
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue";
}

strong {
    color: #b8008b;
    text-decoration: underline;
    font-weight: bold;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
